*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
	background-color: #D8BFD8;
}

h1 {
	color: #403040;
	font-family: 'Merriweather', serif;
}

h2 {
	color: #403040;
	font-family: 'Merriweather', serif;
}

h3 {
	color: #403040;
	font-family: 'Merriweather', serif;
}
.menu{
	display: flex;   
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #C0A3C0;
	border-bottom: #A080A0;
}

.menu li {
	list-style-type: none;
}

.menu li a {
	display: block;
	width: 200px;
	padding: 30px;
	text-align: center;
	text-decoration: none;
	color: #403040;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	transition: all .2s linear;
	border-right: 1px solid #A080A0;
	font-family: 'Merriweather', serif;
}

.menu li a:hover {
	background: #806080;
}

.menu li:first-child a {
	border-left: 1px solid #A080A0;
}

.text1 {
	margin-left: 60px;
}

.text2 {
	color: #403040;
	font-family: 'Merriweather', serif;
	margin-left: 60px;
	font-size: 20px;
}
.pole {
	width: 200px;
	height: 100px; 
}

